node_modules

/.cache
/build
/app/build
/public/build/
/app/public/build
/prisma/dev.sqlite
/prisma/dev.sqlite-journal
database.sqlite

.env
.env.*
.env.discount-app-test-1
.env.dev-custom-discounts-rivka
.env.dev-custom-discounts-rivka-douglas
.env.dev-custom-discounts-rivka-wilmer
package-lock.json
yarn.lock

shopify.app.toml
shopify.app.*.toml
shopify.app.custom-discounts-rivka.toml
shopify.app.dev-custom-discounts-rivka-douglas.toml
shopify.app.dev-custom-discounts-rivka-wilmer.toml

extensions/ui-error-msgs
extensions/product-discount-js
extensions/douglas-discount

extensions/ui-error-msgs/*
extensions/ui-error-msgs/dist
extensions/ui-error-msgs/dist/*
extensions/ui-error-msgs/dist/*

extensions/product-discount-js/*

extensions/douglas-discount/*
extensions/douglas-discount/ui-error-msgs.js
extensions/douglas-discount/ui-error-msgs.js.map

extensions/sku-discount/dist
extensions/sku-discount/generated
extensions/sku-discount/target
extensions/sku-discount/Cargo.lock
