node_modules

/.cache
/build
/app/build
/public/build/
/app/public/build
/prisma/dev.sqlite
/prisma/dev.sqlite-journal
database.sqlite

.env
package-lock.json
yarn.lock

shopify.app.toml
extensions/ui-error-msgs
extensions/product-discount-js
extensions/douglas-discount
extensions/*/dist
extensions/*/generated
extensions/*/target
extensions/*/Cargo.lock
