node_modules

/.cache
/build
/app/build
/public/build/
/app/public/build
/prisma/dev.sqlite
/prisma/dev.sqlite-journal
database.sqlite

.env
package-lock.json
yarn.lock

shopify.app.toml
extensions/ui-error-msgs
extensions/product-discount-js
extensions/douglas-discount

extensions/ui-error-msgs/*
extensions/ui-error-msgs/dist
extensions/ui-error-msgs/dist/*
extensions/ui-error-msgs/dist/*

extensions/product-discount-js/*

extensions/douglas-discount/*
extensions/douglas-discount/ui-error-msgs.js
extensions/douglas-discount/ui-error-msgs.js.map

extensions/sku-discount/dist
extensions/sku-discount/generated
extensions/sku-discount/target
extensions/sku-discount/Cargo.lock
